@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

/*Asterix is the universal selector*/
* {
    box-sizing: border-box; /* So that if we add any padding or border to an element, it doesnt affect the width of it*/   
}

body{
    background-color: orange;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;   /*To center everything*/
    flex-direction: column;
    align-items: center;
    justify-content: center;/*Won't move to the center vertically if the body doesn't have a height on it*/
    height: 100vh; /*Take entire height of the browser*/
    overflow: hidden; /*scroll bars not to show by default*/
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

