@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

/*Asterix is the universal selector*/
* {
    box-sizing: border-box; /* So that if we add any padding or border to an element, it doesnt affect the width of it*/   
}

:root {
    --line-border-fill:#3498db;
    --line-border-empty:#e0e0e0;
}

body{
    background-color: orange;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;   /*To center everything*/
    flex-direction: column;
    align-items: center;
    justify-content: center;/*Won't move to the center vertically if the body doesn't have a height on it*/
    height: 100vh; /*Take entire height of the browser*/
    overflow: hidden; /*scroll bars not to show by default*/
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}
 .circle {
    background-color: #fff;
    color: #999;
    border-radius: 40%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
 }

 .circle.active {
    border-color: var(--line-border-fill);
 }

 .btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
 }

 .btn:active {
    transform: scale(0.92);
 }

 .btn:focus {
    outline: 0;
 }
.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
    transform: scale(1);
}
